{% extends 'layout.html' %}
{% block head %}
	<title>E-Gov</title>
	<link rel="stylesheet" href="{{  url_for('static', filename= 'official/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{  url_for('static', filename= 'official/css/officialhome.css') }}">
	<script src="{{  url_for('static', filename= 'official/js/jquery.min.js') }}"></script>
	<script src="{{  url_for('static', filename= 'official/js/bootstrap.min.js') }}"></script>

	{% endblock%}
	{% block body %}
	{% include 'includes/_navbar.html' %}
	{% include 'includes/_officialSidebar.html' %}


<!-- Bootstrap core JavaScript
================================================== -->


<script src="{{ url_for('static',filename='official/js/jquery.min.js') }}"></script>
<script>window.jQuery || document.write("'<script src="{{ url_for('static',filename='official/js/jquery.min.js') }}"><\/script>'")</script>
<script src="{{ url_for('static', filename='official/js/popper.min.js') }}"></script>
<!-- Icons -->
<script src="{{ url_for('static',filename='official/js/icons.js') }}"></script>
<script>
feather.replace()
</script>
{% endblock %}
