{% extends 'layout.html' %}
{% block head %}
	<title>E-Gov</title>
	<link rel="stylesheet" href="{{  url_for('static', filename= 'official/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{  url_for('static', filename= 'official/css/officialhome.css') }}">
	<script src="{{  url_for('static', filename= 'official/js/jquery.min.js') }}"></script>
	<script src="{{  url_for('static', filename= 'official/js/bootstrap.min.js') }}"></script>

	{% endblock%}
	{% block body %}
	{% include 'includes/_navbar.html' %}


	<!-- ////////////////// Content /////////////////////////////////////// -->
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
		<div class="container" style="margin: 50px 0 0 250px ;">
			<div class="row centered-form">
				<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
					<div class="panel panel-default">
						<div class="text-center">
							<form class="form-signin" action="#" method="POST">
								<h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
								<div class="mt-5"></div>
								<label for="inputEmail" class="sr-only">Admin ID</label>
								<input type="text" name="email"  class="form-control" placeholder="Admin ID" required autofocus>
								<br>
								<label for="inputPassword" class="sr-only">Password</label>
								<input type="password" name="password"  class="form-control" placeholder="Password" required>
								<br>
								<label for="check_key" class="sr-only">Check Key</label>
								<input type="password" name="key"  class="form-control" placeholder="Check Key" required>
								<!--div class="mt-3"><a href="index.html">Not an officals?Signin as official</a></div-->
								<br>
								<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- /////////////////// Footer ///////////////////////////////////////// -->
<div class="text-center">
	<footer class="footer">
		<div class="container">
			<span class="text-muted">
				<br>
				<p class="text-center">&copy; 2019 Nino Stephen Mathew and Judin Sunny</p>
			</span>
		</div>
	</footer>
</div>
	{% endblock %}
