<!-- ///////////// Side Bar ///////////////////////// -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar fixed">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <h2 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Dashboard</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="command"></span>
            </a>
          </h2>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('manageNodes') }}">
              <span data-feather="home"></span>
              Node
            </a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link active" href="../admin/coinstat">
              <span data-feather="list"></span>
              Coinstat
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../admin/request">
              <span data-feather="bar-chart-2"></span>
              Request List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../admin/view">
              <span data-feather="activity"></span>
              Request View
            </a>
          </li-->
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('regOfficial') }}">
              <span data-feather="user-plus"></span>
              Register Offical
            </a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link active" href="../admin/debuguser">
              <span data-feather="edit-2"></span>
              Debug Information
            </a>
          </li-->
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('adminSettings') }}">
              <span data-feather="settings"></span>
              Settings
            </a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav px-3">

        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="#4a90e2" stroke-width="3" stroke-linecap="square" stroke-linejoin="bevel"><path d="M10 3H6a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h4M16 17l5-5-5-5M19.8 12H9"/></svg>
        </li>
      </ul>
    </nav>
  </div>
</div>
