{% extends 'layout.html' %}
{% block head %}
	<title>E-Gov</title>
	<link rel="stylesheet" href="{{  url_for('static', filename= 'official/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{  url_for('static', filename= 'user/css/userhome.css') }}">
	<script src="{{  url_for('static', filename= 'user/js/jquery.min.js') }}"></script>
	<script src="{{  url_for('static', filename= 'user/js/bootstrap.min.js') }}"></script>

	{% endblock%}
	{% block body %}
	{% include 'includes/_userSidebar.html' %}
		<!-- Main
		============= -->
		<main class="col-sm-9 offset-sm-3 coml-md-19 offset-md-2 pt-3">
			<h1>Drafts</h1>
			<div style="margin-top:50px;">
				<table id='drafts' class="table table-striped">
					<thead>
						<th>No.</th>
						<th>Subject</th>
						<th>Date</th>
						<th>Options</th>
					</thead>
					<tbody>
						<tr>
							<td style="width:50px;">1</td>
							<td>Kill</td>
							<td>1/09/1998</td>
							<td style="width:170px;">
								<button class="btn btn-success">Send</button>
								<button class="btn btn-danger">Delete</button>
							</td>
						</tr>
						<tr>
							<td style="width:50px;">2</td>
							<td>Kill</td>
							<td>1/09/1998</td>
							<td style="width:170px;">
								<button class="btn btn-success">Send</button>
								<button class="btn btn-danger">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
</div>
<!-- Bootstrap core JavaScript
================================================== -->

<script src="{{ url_for('static',filename='user/js/jquery.min.js') }}"></script>
<script>window.jQuery || document.write("'<script src="{{ url_for('static',filename='user/js/jquery.min.js') }}"><\/script>'")</script>
<script src="{{ url_for('static', filename='user/js/popper.min.js') }}"></script>
<!-- Icons -->
<script src="{{ url_for('static',filename='user/js/icons.js') }}"></script>
<script>
feather.replace()
</script>
{% endblock %}
