{% extends 'layout.html' %}
{% block head %}
	<title>E-Gov</title>
	<link rel="stylesheet" href="{{  url_for('static', filename= 'official/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{  url_for('static', filename= 'user/css/userhome.css') }}">
	<script src="{{  url_for('static', filename= 'user/js/jquery.min.js') }}"></script>
	<script src="{{  url_for('static', filename= 'user/js/bootstrap.min.js') }}"></script>

	{% endblock%}
	{% block body %}
	{% include 'includes/_userSidebar.html' %}
		<!-- Main
		============= -->
		<main class="col-sm-10 offset-sm-3 coml-md-19 offset-md-2 pt-3">
			<h1>Drafts</h1>
			<div style="margin-top:50px;">
				<table id='drafts' class="table table-striped">
					<thead>
						<th>No.</th>
						<th>Subject</th>
						<th>Date</th>
						<th>Options</th>
					</thead>
					<tbody>
						{% for row in records  %}
						<tr>
							<td style="width:50px;">#</td>
							<td>{{ row['subject'] }}</td>
							<td>{{ row['submisionDate'] }}</td>
							<td style="width:170px;">
								<form action="{{ url_for('application', requestId=row['requestId']) }}" method="POST">
									<input type="hidden" id="update" name="update" value="update">
									<input type="hidden" name="requestId" value="{{ row['requestId'] }}">
									<button class="btn btn-success" type="submit">Return</button>
								</form>
								<form  action="{{ url_for('deleteRequest') }}" method="post">
									<input type="hidden" name="requestId" value="{{ row['requestId'] }}">
									<button class="btn btn-danger" type="submit">Delete</button>
								</form>


							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</main>
</div>
<!-- Bootstrap core JavaScript
================================================== -->

<script src="{{ url_for('static',filename='user/js/jquery.min.js') }}"></script>
<script>window.jQuery || document.write("'<script src="{{ url_for('static',filename='user/js/jquery.min.js') }}"><\/script>'")</script>
<script src="{{ url_for('static', filename='user/js/popper.min.js') }}"></script>
<!-- Icons -->
<script src="{{ url_for('static',filename='user/js/icons.js') }}"></script>
<script>
feather.replace()
</script>
{% endblock %}
