{% extends 'layout.html' %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="{{  url_for('static', filename= 'official/css/bootstrap.min.css') }}">

    <title>Login</title>
    <style>
      .center-div{
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 400px;
        height: 450px;
        background-color: #ccc;
        border-radius: 3px;
      }
      input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>
    <script>
      function signUp(){
        var reg=document.getElementById("login");
        reg.innerHTML="<h3 style='padding-left:20px;margin-top:40px;'>Sign Up</h3>"+
        "<form action='' method='POST'>"+
          "<div class='form-group' style='padding-left:20px;padding-right:20px;'>"+
            "<label for='name'>Full Name:</label>"+
            "<input type='text' class='form-control' id='name'>"+
          "</div>"+
          "<div class='form-group' style='padding-left:20px;padding-right:20px;'>"+
            "<label for='uname'>Username:</label>"+
            "<input type='text' class='form-control' id='uname'>"+
          "</div>"+
          "<div class='form-group' style='padding-left:20px;padding-right:20px;'>"+
            "<label for='num'>Aadhar No.:</label>"+
            "<input type='number' class='form-control' id='num' onwheel='this.blur()'>"+
          "</div>"+
          "<div class='form-group' style='padding-left:20px;padding-right:20px;'>"+
            "<label for='pwd'>Password:</label>"+
            "<input type='password' class='form-control' id='pwd'>"+
          "</div>"+
          "<div class='form-group' style='padding-left:20px;padding-right:20px;'>"+
            "<label for='cpwd'>Confirm Password:</label>"+
            "<input type='password' class='form-control' id='cpwd'>"+
          "</div>"+
          "<div style='margin-left:20px;'>"+
            "<button type='submit' class='btn btn-default'>Sign Up</button>"+
          "</div>"+
          "<div style='margin-left:20px;margin-top:25px;'>"+
            "<p>Already have an account?</p>"+
          "</div>"+
        "</form>"+
        "<div style='margin-left:20px;'>"+
          "<button class='btn btn-default' onclick='signIn()'>Sign In</button>"+
        "</div>";
        reg.style.height="600px";
      }
    </script>
	{% endblock%}
	{% block body %}
    <div class="center-div" id="login">
      <h3 style="padding-left:20px;margin-top:40px;">Login</h3>
      <form>
        <div class="form-group" style="padding-left:20px;padding-right:20px;">
          <label for="email">Username:</label>
          <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group" style="padding-left:20px;padding-right:20px;">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd">
        </div>
        <div style="margin-left:20px;">
          <button type="submit" class="btn btn-default">Login</button>
          <a href="#" style="margin-left:15px;">Forgot password?</a>
        </div>
        <div style="margin-left:20px;margin-top:25px;">
          <p>Don't have an account?</p>
        </div>
      </form>
      <div style="margin-left:20px;">
        <button class="btn btn-default" onclick='signUp()'>Sign Up</button>
      </div>
    </div>
    {% endblock %}
