{% extends 'layout.html' %}
{% block head %}
	<title>E-Gov</title>
	<link rel="stylesheet" href="{{  url_for('static', filename= 'official/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{  url_for('static', filename= 'user/css/userhome.css') }}">
	<script src="{{  url_for('static', filename= 'user/js/jquery.min.js') }}"></script>
	<script src="{{  url_for('static', filename= 'user/js/bootstrap.min.js') }}"></script>

	{% endblock%}
	{% block body %}
	{% include 'includes/_userSidebar.html' %}
		<!-- Main
		============= -->
		<main class="col-sm-9 offset-sm-3 coml-md-20 offset-md-2 pt-3">
			<h1>Status</h1>
			<div style="margin-top:50px;">
				<table id='drafts' class="table table-striped">
					<thead>
						<th>No.</th>
						<th>Subject</th>
						<th>Comments</th>
						<th>Status</th>
						<th>Date</th>
					</thead>
					<tbody>
						{% for row in records  %}
						<tr>
							<td style="width:70px;">#</td>
							<td>{{ row['subject'] }}</td>
							<td>{{ row['comments'] }}</td>
							<td style="width:170px;">{{ row['action'] }}</td>
							<td style="width:170px;">{{ row['actionTime'] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</main>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="{{ url_for('static',filename='user/js/jquery.min.js') }}"></script>
<script>window.jQuery || document.write("'<script src="{{ url_for('static',filename='user/js/jquery.min.js') }}"><\/script>'")</script>
<script src="{{ url_for('static', filename='user/js/popper.min.js') }}"></script>
<!-- Icons -->
<script src="{{ url_for('static',filename='user/js/icons.js') }}"></script>
<script>
feather.replace()
</script>
{% endblock %}
